* { 
    margin: 5px;
    padding: 0;
}
header {
    background-color: rgb(211, 62, 46);
    margin: 0;
}

h1 {
    color: white;
    height: 60px;
    text-align: center;
}

body {
    background-color: lightblue;
}
